.App {
  text-align: center;
}

.card:hover {
  background-color: antiquewhite;
}

.nav-link {
  color: #495057
}

.nav {
  background-color:  antiquewhite;
}

.ticketBtn,
.ticketBtn:hover,
.ticketBtn:active,
.ticketBtn:visited,
.ticketBtn:focus {
    background-color: antiquewhite !important;
    border-color: antiquewhite !important;
    color: black !important;
}
